<div class="container" style="padding-top: 6rem; padding-bottom: 3rem; ">
  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-3">
      <div class="form-login">
        <h2>Sign up</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
            <%= f.input :name,
                        required: true,
                        input_html: { autocomplete: "name" } %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :address,
                        required: false,
                        input_html: { autocomplete: "address" } %>
            <%= f.input :birth_date,
                        required: false,
                        start_year: 1930,
                        input_html: { autocomplete: "birth_date" } %>
            <%= f.input :telephone,
                        required: false,
                        input_html: { autocomplete: "telephone" } %>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
            <div class="d-flex align-items-center p-2">
              <%= f.input :photo,
                          as: :file,
                          input_html: { class: 'd-none', id: 'photo-input' },
                          label_html: { class: 'upload-photo'},
                          label: '📷 Upload a photo' %>
              <%= image_tag "", width: 60, class: 'hidden ml-2', id: "photo-preview" %>
            </div>
          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  </div>

