  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
      <% image_tag 'rentStyle.png' %>
      <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="dropdown-toggle nav-link font-weight-bold" id="navbarDropdown" data-toggle= "dropdown" role="button" aria-haspopup='true', aria-expanded='false'> Produtos</a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

            <% if user_signed_in? %>
              <%= link_to "Adicionar Produto", new_product_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
            <% end %>
            <%= link_to "Vestidos", products_path(query: 'vestido'), class: "dropdown-item" %>
            <%= link_to "Acessórios", products_path(query: 'acessório feminino'), class: "dropdown-item" %>
            <%= link_to "Sapatos Femininos", products_path(query: 'sapato feminino'), class: "dropdown-item" %>

            <div class="dropdown-divider"></div>
            <%= link_to "Ternos", products_path(query: 'terno'), class: "dropdown-item" %>
            <%= link_to "Acessórios Masculinos", products_path(query: 'acessório masculino'), class: "dropdown-item" %>
            <%= link_to "Sapatos Masculinos", products_path(query: 'sapato masculino'), class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item">
        <%= link_to "Adicionar produto", new_product_path, class: "nav-link font-weight-bold" %>
          <%# <a href="#" class="nav-link font-weight-bold">Adicionar Produto</a> %>
        </li>
        <li class="nav-item">

          <%= link_to "Sobre Nós", about_path, class: "nav-link font-weight-bold" %>
        </li>       

        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link font-weight-bold" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <i class="fas fa-grin-alt fa-2x dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <% end %>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              <%= link_to "Editar conta", edit_user_registration_path, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Entrar", new_user_session_path, class: "nav-link font-weight-bold" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

