<p>TESTE</p>

<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :category %>
    <%= f.input :subcategory %>
    <%= f.input :brand %>
    <%= f.input :size%>
    <%= f.input :description%>
    <%= f.input :price%>
    <%= f.input :photos, as: :file, input_html: { multiple: true }%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>