<div class="" style="padding-top: 6rem;">
  <h1 class="text-center">Nossos Produtos</h1>
</div>
  <div class="main-container">
    <div id="map"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <div class="cards-container">
        <% @products.each do |product| %>
          <% if product.available? %>
            <div class="card m-1" style="width: 45rem; background-color: rgba(159,95,158,0.6)">
              <!-- Início do Carousel -->
              <% if product.photos.attached? %>
                  <div id="carouselExampleControls<%= product.id %>" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <% product.photos.each do |photo| %>
                        <% if photo.key == product.photos[0].key %>
                          <div class="carousel-item active">
                        <% else %>
                          <div class="carousel-item">
                        <% end %>
                          <%= cl_image_tag photo.key, class: "d-block w-100 showimage", style: "height: 200px;" %>
                        </div>
                      <% end %>
                        <a class="carousel-control-prev" href="#carouselExampleControls<%= product.id %>" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls<%= product.id %>" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                    </div>
              <!-- Fim do Carousel  -->
                  <div class="card-body p-1">
                    <h5 class="card-title text-center font-weight-bold p-1"><%= product.category %></h5>
                    <p class="card-brand">Marca: <%= product.brand %> </p>
                    <p class="card-size">Tamanho: <%= product.size %></p>
                    <p class="card-price">R$<%= product.price %></p>
                    <spam class="card-want"><%= link_to "Eu Quero!", new_product_transaction_path(product), class: "text-center btn btn-warning font-weight-bold"  %></spam>
                    <spam class="card-info" ><%= link_to "Mais Info", product_path(product), class: "text-center text-white font-weight-bold" %></spam>
                  </div>
                </div>
              <% else %>
              <!-- Cards Sem Foto  -->
                <img class="card-img-top" src="https://via.placeholder.com/250x150/000000/FFFFFF/?text=Nenhuma+Foto+Disponível" alt="Card image cap">
                <div class="card-body p-1">
                    <h5 class="card-title text-center font-weight-bold p-1"><%= product.category %></h5>
                    <p class="card-brand">Marca: <%= product.brand %> </p>
                    <p class="card-size">Tamanho: <%= product.size %></p>
                    <p class="card-price">R$<%= product.price %></p>
                    <spam class="card-want"><%= link_to "Eu Quero!", new_product_transaction_path(product), class: "text-center btn btn-warning font-weight-bold"  %></spam>
                    <spam class="card-info" ><%= link_to "Mais Info", product_path(product), class: "text-center text-white font-weight-bold" %></spam>
                  </div>
                </div>
              <% end %>
            </div>
              <!-- Fim Cards Sem Foto  -->
        <% end %>
      <% end %>
    </div>
  </div>
