<p>Produto:</p>
<%= @product.description %>
<%= @product.category %>
<%= @product.subcategory %>
<%= @product.brand %>
<%= @product.size %>
<%= @product.price %>

<% if @product.photos.attached? %>
  <% @product.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% else %>
  <p>Não tem foto</p>
<% end %>

<%= link_to 'Eu quero', new_product_transaction_path(@product)%>
<%= link_to 'Editar', edit_product_path(@product)%>
<%= link_to 'Apagar', product_path(@product), method: :delete,
data: { confirm: "Confirma a exclusão do produto?"} %>
