<div class="container" style="padding-top: 6rem; padding-bottom: 3rem;">
  <h2 class="text-center"><%= @product.category %> de qualidade!</h2>
  <div class="showcard">
    <div class="row justify-content-center">
      <div class="col-xl-4 col-sm-4">
        <div id="mapa"
         style="width: 100%; height: 350px;"
         data-marker="<%= @marker.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
       </div>
      </div>
      <div class="col-xl-4 col-sm-4">
        <div class="">
          <% if @product.photos.attached? %>
              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% @product.photos.each do |photo| %>
                    <% if  photo.key == @product.photos[0].key %>
                      <div class="carousel-item active">
                    <% else %>
                      <div class="carousel-item">
                    <% end %>
                      <%= cl_image_tag photo.key, class: "d-block w-100 showimage" %>
                    </div>
                  <% end %>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <!-- Fim do Carousel  -->
          <% else %>
            <img class="card-img-top" src="https://via.placeholder.com/250x150/000000/FFFFFF/?text=Nenhuma+Foto+Disponível" alt="Card image cap">
          <% end %>
        </div>
      </div>
      <div class="col-xl-4 col-sm-4 subcard">
        <% if @product.user == current_user %>
          <spam>
              <% if @product.available? %>
                <spam class="showcard-available">Disponível</spam>
                <spam class="showcard-pause"><%= link_to 'Pausar Anúncio', product_pause_path(@product) %></spam>
              <% else %>
                <spam class="showcard-rented">Alugado</spam>
                <spam class="showcard-back"><%= link_to 'Retomar Anúncio', product_pause_path(@product) %></spam>
              <% end %>
          </spam>
        <% end %>
        <spam class="showcard-description"><%= @product.description %></spam>
        <spam class="showcard-brand"><strong>Marca: </strong><%= @product.brand %></spam>
        <spam class="showcard-size"><strong>Tamanho: </strong><%= @product.size %></spam>
        <!-- <spam class="showcard-category"><%= @product.category %></spam> -->
        <!-- <spam class="showcard-subcategory"><%= @product.subcategory %></spam> -->
        <spam class="showcard-price">Valor:R$<%= @product.price %></spam>
        <spam class="showcard-text">por noite</spam>
        <% if @product.user == current_user %>
          <spam class="showcard-edit"><%= link_to 'Editar', edit_product_path(@product), class: "text-decoration-none font-weight-bold" %></spam>
          <spam class="showcard-delete"><%= link_to 'Apagar', product_path(@product), method: :delete,
                  data: { confirm: "Confirma a exclusão do produto?"}, class: "text-decoration-none font-weight-bold" %>
          </spam>
        <% else %>
          <spam class="showcard-purchase"><%= link_to 'Eu quero', new_product_transaction_path(@product), class: "btn btn-primary", style: "font-size: 22px;", label: 'Eu Quero!' %></spam>
        <% end %>
        <% if @product.user.photo.attached? %>
          <%= cl_image_tag @product.user.photo.key, class: "avatar-bordered showcard-image" %>
        <% else %>
          <i class="fas fa-user showcard-image "></i>
        <% end %>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-6 p-3">
        <ul class="list-inline text-center">
          <% if  %>
            <% @product.user == current_user %>
              <li class="list-inline-item">
                <%= link_to 'Editar', edit_product_path(@product), class: "text-decoration-none font-weight-bold" %>
              </li>
              <li class="list-inline-item">
                <%= link_to 'Apagar', product_path(@product), method: :delete,
                data: { confirm: "Confirma a exclusão do produto?"} %>
              </li>
          <% else %>
            <li class="list-inline-item">
              <%= link_to 'Eu quero', new_product_transaction_path(@product), class: "btn btn-primary", label: 'Eu Quero!' %>
              <%= link_to 'Avalie o produto', new_product_review_path(@product) %>
            </li>
          <% end %>
        </ul>

      </div>
      <% @product.reviews.each do |review| %>
        <div class="row justify-content-center mt-2">
          <div class="col-6">
            <div class="review">
                <div class="content">
                  <spam class="review-content">"<%= review.content %>"</spam>
                </div>
                <div class="review-user">
                  <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>




